{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
  <h1>Armis Import</h1>
  <div id="searchContainer" style="display: {% if display or not devices %}block{% else %}none{% endif %}">
    <form id="deviceSubmitForm" method="POST" action="{% url 'armis_import' %}">
    {% csrf_token %}
      <div class="search-container">
        <input type="text" id="deviceSearch" name="deviceName" placeholder="Search for Device..." class="form-control">
      </div>
      <button type="submit" id="searchButton" class="btn btn-secondary btn-sm">Search</button>
    </form>
    <br></br>
  </div>
  <button id="toggleSiteForm" class="btn btn-secondary btn-sm">
    {% if display %}Hide Sites{% else %}Show Sites{% endif %}
  </button>
  <div id="formContainer" style="display: {% if display %}block{% else %}none{% endif %}">
    <form id="siteSubmitForm" method="POST" action="{% url 'armis_import' %}">
        {% csrf_token %}
        <div class="checkbox-container">
          <div class="checkbox-item">
            <input type="checkbox" id="select-all" class="custom-checkbox">
            <label for="select-all" class="checkbox-label">Select all</label>
        </div>
          <div
            {% for site_id, site_info in armis_sites.items %}
                <div class="checkbox-item">
                    <input type="checkbox" id="site-{{ site_id }}" name="site-ids[]" value="{{ site_id }}" class="custom-checkbox">
                    <label for="site-{{ site_id }}" class="checkbox-label">{{ site_info.name }}</label>
                </div>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-secondary btn-sm">Select</button>
    </form>
  </div>
  {%if devices %}
  <div id="pagination">
    <button id="prevPage" class="link-button">
		<span class="icon-desc" desc="previous page"><img src="{% static 'icons/caret-left-square.svg' %}" alt="previous page" height="16" width="16" class="icon-zoom"/> </span>
	</button>
    <span id="pageInfo"><span id="currentPage">1</span> / <span id="totalPages">1</span></span>
    <button id="nextPage" class="link-button">
		<span class="icon-desc" desc="next page"><img src="{% static 'icons/caret-right-square.svg' %}" alt="next page" height="16" width="16" class="icon-zoom"/> </span>
	</button>
  </div>
  <table id="deviceTable" class="table table-striped">
    <thead>
      <style>
        .modal {
          display: none;
          position: fixed;
          z-index: 1;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          overflow: auto;
          background-color: rgba(0,0,0,0.4);
        }
        .modal-content {
          background-color: #fefefe;
          margin: 15% auto;
          padding: 20px;
          border: 1px solid #888;
          width: 80%;
        }
        .close {
          color: #aaa;
          float: right;
          font-size: 28px;
          font-weight: bold;
          cursor: pointer;
        }
        .close:hover,
        .close:focus {
          color: black;
          text-decoration: none;
          cursor: pointer;
        }
        .address-link {
          color: blue;
          cursor: pointer;
        }
        .sort-icon {
          cursor: pointer;
          user-select: none;
        }
      </style>
      <tr>
        <th scope="col">
          <input type="text" id="searchInput" placeholder="Search Name, IP, or MAC">
        </th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col">
            <select id="boundaryFilter">
                <option value="">Filter Boundaries / All</option>
                {% for boundary in boundaries %}
                    <option value="{{ boundary }}">{{ boundary }}</option>
                {% endfor %}
            </select>
        </th>
        <th scope="col"></th>
    </tr>
    <tr>
      <th scope="col">Device Name <span class="sort-icon" data-column="name">▲</span></th>
      <th scope="col">MAC Address <span class="sort-icon" data-column="macAddress">▲</span></th>
      <th scope="col">IP Address <span class="sort-icon" data-column="ipAddress">▲</span></th>
      <th scope="col">Boundaries</th>
      <th scope="col"></th>
    </tr>
</thead>
<tbody>
</tbody>
</table>
  
  <div id="detailModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <h2 id="modalTitle"></h2>
      <ul id="modalList"></ul>
    </div>
  </div>
  {% elif not display %}
  <div class="alert alert-info" role="alert">
    No Devices found...
  </div>
  {%endif%}
  
</div>
<script>
  const itemsPerPage = 50;
  let currentPage = 1;
  let data = [
      {% for device in devices %}
          {
			  name: "{{ device.name }}",
              macAddress: "{{ device.macAddress}}",
              ipAddress: "{{ device.ipAddress }}",
              boundaries: "{{ device.boundaries }}",
			  url: "{{tenant_url}}/inventory/devices/{{ device.id }}"
          },
      {% endfor %}
  ];
  let filteredData = [...data]; // copies array to prevent changes on original data
  let sortOrder = 'asc';
  let searchTerm = '';
  
  document.addEventListener('DOMContentLoaded', function() {
    var selectAll = document.getElementById('select-all');
    var siteCheckboxes = document.querySelectorAll('.custom-checkbox'); // gets all elements with given CSS-Class

    selectAll.addEventListener('change', function() {
        siteCheckboxes.forEach(function(checkbox) {
            checkbox.checked = selectAll.checked;
        });
    });

    siteCheckboxes.forEach(function(checkbox) {
        checkbox.addEventListener('change', function() {
            selectAll.checked = Array.from(siteCheckboxes).every(function(checkbox) { // checks select-all checkbox only if every checkbox is selected
                return checkbox.checked;
            });
        });
    });
  });

  document.getElementById('toggleSiteForm').addEventListener('click', function() {
    var formContainer = document.getElementById('formContainer');
    if (formContainer.style.display === 'none') {
      formContainer.style.display = 'block';
      this.textContent = 'Hide Sites';
    } else {
      formContainer.style.display = 'none';
      this.textContent = 'Show Sites';
    }
  });
  function setupFilters() { 
    const boundaryFilter = document.getElementById("boundaryFilter");
    const searchInput = document.getElementById("searchInput");

    boundaryFilter.addEventListener("change", applyFilters); // calls applyFilter function on select
    searchInput.addEventListener("input", applyFilters); // calls applyFilter function on every input
  }

  function setupSorting() {
    const sortIcons = document.querySelectorAll('.sort-icon'); //Get all html-elements that are sort-elements
    sortIcons.forEach(icon => {
        icon.addEventListener('click', () => {
            const column = icon.getAttribute('data-column'); //determines which column to order
            sortData(column);
        });
    });
  }

  function sortData(column) {
    sortOrder = sortOrder === 'asc' ? 'desc' : 'asc'; //switches asc to desc or desc to asc for every click so user can switch between order

    filteredData.sort((a, b) => { // sorts data-array by providing a function that returns <0, 0, >0 for specific comparisons 
        const valueA = a[column];
        const valueB = b[column];
        
        if (valueA === "None" && valueB === "None") return 0;
        if (valueA === "None") return sortOrder === 'asc' ? -1 : 1; // short for if (sortOrder === 'asc') { return -1;} else {return 1;}
        if (valueB === "None") return sortOrder === 'asc' ? 1 : -1;

        if (column === 'macAddress' || column === 'ipAddress') {
            return compareAddresses(valueA, valueB);
        }

        return sortOrder === 'asc' ? valueA.localeCompare(valueB) : valueB.localeCompare(valueA); // returns 0,1,-1 for string comparison
    });

    currentPage = 1;
    displayTable(currentPage);
    updateSortIcons(column);
  }

  function compareAddresses(addrA, addrB) {
      const partsA = addrA.split(/[.:]/).map(part => parseInt(part, 16) || 0); //splits mac or ip Adress into integer blocks
      const partsB = addrB.split(/[.:]/).map(part => parseInt(part, 16) || 0);

      for (let i = 0; i < Math.max(partsA.length, partsB.length); i++) {
          if (partsA[i] === undefined) return sortOrder === 'asc' ? -1 : 1;
          if (partsB[i] === undefined) return sortOrder === 'asc' ? 1 : -1;
          if (partsA[i] !== partsB[i]) {
              return sortOrder === 'asc' 
                  ? partsA[i] - partsB[i] //return <0 if block of A is smaller than block of B -> A comes before B
                  : partsB[i] - partsA[i];
          }
      }
      return 0; //mac or IPAddress are equal
  }

  function updateSortIcons(sortedColumn) { // switches icon so user knows if order is asc oder desc
      const sortIcons = document.querySelectorAll('.sort-icon');
      sortIcons.forEach(icon => {
          const column = icon.getAttribute('data-column');
          if (column === sortedColumn) {
              icon.textContent = sortOrder === 'asc' ? '▲' : '▼';
          } else {
              icon.textContent = '▲';
          }
      });
  }
  function applyFilters() {
    const selectedBoundary = document.getElementById("boundaryFilter").value;
    searchTerm = document.getElementById("searchInput").value.toLowerCase();
  
    filteredData = data.filter(function(device) { // filters for devices where the function returns true
      const matchesBoundary = !selectedBoundary || device.boundaries.split(',').map(b => b.trim()).includes(selectedBoundary); // sets selectedBoundary to True if boundary isnt set, 
      const matchesSearch = device.name.toLowerCase().startsWith(searchTerm) || device.name.toLowerCase().includes(searchTerm) ||
                            device.ipAddress.toLowerCase().replace(/[^0-9]/g, '').startsWith(searchTerm.replace(/[^a-z0-9]/g, '') || false) || // replace everything that is not in 0-9 range
                            device.macAddress.toLowerCase().replace(/[^a-f0-9]/g, '').startsWith(searchTerm.replace(/[^a-z0-9]/g, '') || false); // replace everything that is not in hex (a-f,0-9) range
      return matchesBoundary && matchesSearch; // and-Operator so devices can get filtered by boundary AND searchTerm, otherwise it would filter for either one
    });
  
    currentPage = 1;
    displayTable(currentPage);
  }

  function displayTable(page) {

    const tableBody = document.querySelector("#deviceTable tbody");
    tableBody.innerHTML = "";
    
    const start = (page - 1) * itemsPerPage;
    const end = start + itemsPerPage;
    const pageData = filteredData.slice(start, end);
    
    pageData.forEach((device, index) => {
        const row = tableBody.insertRow();
		const nameCell = row.insertCell();
        nameCell.innerHTML = `<a href="${device.url}"><span class="icon-desc" desc="view device in Armis"><img src="{% static 'icons/info-circle.svg' %}" alt="device info" height="16" width="16" class="icon-zoom"/></span></a> ${device.name} `;
        
        const macCell = row.insertCell();
        const macAddresses = device.macAddress.split(",");
        const macTotal = macAddresses.length;
        macCell.innerHTML = `${macAddresses[0]} <span class="icon-desc address-link" desc="${device.macAddress}">${macTotal > 1 ? '(' + macTotal + ')' : ''}</span>`;
        if (macTotal > 1) {
            macCell.querySelector('span').addEventListener("click", () => showDetails("MAC-Adressen", device.macAddress));
        } else {
            macCell.querySelector('span').addEventListener("click", () => showDetails("MAC-Adresse", device.macAddress));
        }

        const ipCell = row.insertCell();
        const ipAddresses = device.ipAddress.split(",");
        const ipTotal = ipAddresses.length;
        ipCell.innerHTML = `${ipAddresses[0]} <span class="icon-desc address-link" desc="${device.ipAddress}">${ipTotal > 1 ? '(' + ipTotal + ')' : ''}</span>`;
        if (ipTotal > 1) {
            ipCell.querySelector('span').addEventListener("click", () => showDetails("IP-Adressen", device.ipAddress));
        } else {
            ipCell.querySelector('span').addEventListener("click", () => showDetails("IP-Adresse", device.ipAddress));
        }
        row.insertCell().textContent = device.boundaries;

        const importCell = row.insertCell();
        importCell.innerHTML = `
          <form action="{% url 'device_new' %}" method="POST">
              {% csrf_token %}
              <input type="hidden" name="device_data" value='${JSON.stringify(device)}'>
              <button type="submit" class="link-button">
				<span class="icon-desc" desc="add device"><img src="{% static 'icons/plus-circle.svg' %}" alt="add device" height="16" width="16" class="icon-zoom"/></span>
		      </button>
          </form>
      `;
    });
    
    document.getElementById("currentPage").textContent = page;
    document.getElementById("totalPages").textContent = Math.ceil(filteredData.length / itemsPerPage);
}
  
  function showDetails(title, addresses) {
      const modal = document.getElementById("detailModal");
      const modalTitle = document.getElementById("modalTitle");
      const modalList = document.getElementById("modalList");
      
      modalTitle.textContent = title;
      modalList.innerHTML = "";
      
      addresses.split(",").forEach(address => {
          const li = document.createElement("li");
          li.textContent = address.trim();
          modalList.appendChild(li);
      });
      
      modal.style.display = "block";
  }
  
  function setupPagination() {
    const prevButton = document.getElementById("prevPage");
    const nextButton = document.getElementById("nextPage");
    
    prevButton.addEventListener("click", () => {
        if (currentPage > 1) {
            currentPage--;
            displayTable(currentPage);
        }
    });
    
    nextButton.addEventListener("click", () => {
        if (currentPage < Math.ceil(data.length / itemsPerPage)) {
            currentPage++;
            displayTable(currentPage);
        }
    });
  }
  
  function setupModal() {
      const modal = document.getElementById("detailModal");
      const span = document.getElementsByClassName("close")[0];
      
      span.onclick = function() {
          modal.style.display = "none";
      }
      
      window.onclick = function(event) {
          if (event.target == modal) {
              modal.style.display = "none";
          }
      }
  }
  
  displayTable(currentPage);
  setupPagination();
  setupModal();
  setupFilters();
  setupSorting();
</script>
{% endblock content %}