{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
<h1>Armis Import</h1>
<form method="POST" action="{% url 'armis_import' %}">
  {% csrf_token %}
    <select name="site-id">
      <option value="" disabled {% if not selected_site %}selected{% endif %}>Choose site...</option>
      {% for site_id, site_info in armis_sites.items %}
        <option value="{{ site_id }}" {% if site_id == selected_site %}selected{% endif %}>
          {{ site_info.name }}
        </option>
      {% endfor %}
    </select>
    <button type="submit" class="btn btn-secondary btn-sm">select</button>
  </form>
  {%if devices%}
  <div id="pagination">
    <button id="prevPage" class="link-button">
		<span class="icon-desc" desc="previous page"><img src="{% static 'icons/caret-left-square.svg' %}" alt="previous page" height="16" width="16" class="icon-zoom"/> </span>
	</button>
    <span id="pageInfo"><span id="currentPage">1</span> / <span id="totalPages">1</span></span>
    <button id="nextPage" class="link-button">
		<span class="icon-desc" desc="next page"><img src="{% static 'icons/caret-right-square.svg' %}" alt="next page" height="16" width="16" class="icon-zoom"/> </span>
	</button>
  </div>
  <table id="deviceTable" class="table table-striped">
    <thead>
      <style>
        .modal {
          display: none;
          position: fixed;
          z-index: 1;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          overflow: auto;
          background-color: rgba(0,0,0,0.4);
        }
        .modal-content {
          background-color: #fefefe;
          margin: 15% auto;
          padding: 20px;
          border: 1px solid #888;
          width: 80%;
        }
        .close {
          color: #aaa;
          float: right;
          font-size: 28px;
          font-weight: bold;
          cursor: pointer;
        }
        .close:hover,
        .close:focus {
          color: black;
          text-decoration: none;
          cursor: pointer;
        }
        .address-link {
          color: blue;
          cursor: pointer;
        }
      </style>
      <tr>
        <th scope="col">Device Name</th>
        <th scope="col">MAC Address</th>
        <th scope="col">IP Address</th>
        <th scope="col">Boundaries</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  
  <div id="detailModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <h2 id="modalTitle"></h2>
      <ul id="modalList"></ul>
    </div>
  </div>
  {%endif%}
  
</div>
<script>
  const itemsPerPage = 50;
  let currentPage = 1;
  let data = [
      {% for device in devices %}
          {
			  name: "{{ device.name }}",
              macAddress: "{{ device.macAddress}}",
              ipAddress: "{{ device.ipAddress }}",
              boundaries: "{{ device.boundaries }}",
			  url: "{{tenant_url}}/inventory/devices/{{ device.id }}"
          },
      {% endfor %}
  ];
  function displayTable(page) {
    const tableBody = document.querySelector("#deviceTable tbody");
    tableBody.innerHTML = "";
    
    const start = (page - 1) * itemsPerPage;
    const end = start + itemsPerPage;
    const pageData = data.slice(start, end);
    
    pageData.forEach((device, index) => {
        const row = tableBody.insertRow();
		const nameCell = row.insertCell();
        nameCell.innerHTML = `<a href="${device.url}"><span class="icon-desc" desc="view device in Armis"><img src="{% static 'icons/info-circle.svg' %}" alt="device info" height="16" width="16" class="icon-zoom"/></span></a> ${device.name} `;
        
        const macCell = row.insertCell();
        const macAddresses = device.macAddress.split(",");
        const macTotal = macAddresses.length;
        macCell.innerHTML = `${macAddresses[0]} <span class="icon-desc address-link" desc="${device.macAddress}">${macTotal > 1 ? '(' + macTotal + ')' : ''}</span>`;
        if (macTotal > 1) {
            macCell.querySelector('span').addEventListener("click", () => showDetails("MAC-Adressen", device.macAddress));
        } else {
            macCell.querySelector('span').addEventListener("click", () => showDetails("MAC-Adresse", device.macAddress));
        }

        const ipCell = row.insertCell();
        const ipAddresses = device.ipAddress.split(",");
        const ipTotal = ipAddresses.length;
        ipCell.innerHTML = `${ipAddresses[0]} <span class="icon-desc address-link" desc="${device.ipAddress}">${ipTotal > 1 ? '(' + ipTotal + ')' : ''}</span>`;
        if (ipTotal > 1) {
            ipCell.querySelector('span').addEventListener("click", () => showDetails("IP-Adressen", device.ipAddress));
        } else {
            ipCell.querySelector('span').addEventListener("click", () => showDetails("IP-Adresse", device.ipAddress));
        }
        row.insertCell().textContent = device.boundaries;

        const importCell = row.insertCell();
        importCell.innerHTML = `
          <form action="{% url 'device_new' %}" method="POST">
              {% csrf_token %}
              <input type="hidden" name="device_data" value='${JSON.stringify(device)}'>
              <button type="submit" class="link-button">
				<span class="icon-desc" desc="add device"><img src="{% static 'icons/plus-circle.svg' %}" alt="add device" height="16" width="16" class="icon-zoom"/></span>
		      </button>
          </form>
      `;
    });
    
    document.getElementById("currentPage").textContent = page;
    document.getElementById("totalPages").textContent = Math.ceil(data.length / itemsPerPage);
}
  
  function showDetails(title, addresses) {
      const modal = document.getElementById("detailModal");
      const modalTitle = document.getElementById("modalTitle");
      const modalList = document.getElementById("modalList");
      
      modalTitle.textContent = title;
      modalList.innerHTML = "";
      
      addresses.split(",").forEach(address => {
          const li = document.createElement("li");
          li.textContent = address.trim();
          modalList.appendChild(li);
      });
      
      modal.style.display = "block";
  }
  
  function setupPagination() {
    const prevButton = document.getElementById("prevPage");
    const nextButton = document.getElementById("nextPage");
    
    prevButton.addEventListener("click", () => {
        if (currentPage > 1) {
            currentPage--;
            displayTable(currentPage);
        }
    });
    
    nextButton.addEventListener("click", () => {
        if (currentPage < Math.ceil(data.length / itemsPerPage)) {
            currentPage++;
            displayTable(currentPage);
        }
    });
  }
  
  function setupModal() {
      const modal = document.getElementById("detailModal");
      const span = document.getElementsByClassName("close")[0];
      
      span.onclick = function() {
          modal.style.display = "none";
      }
      
      window.onclick = function(event) {
          if (event.target == modal) {
              modal.style.display = "none";
          }
      }
  }
  
  displayTable(currentPage);
  setupPagination();
  setupModal();
</script>
{% endblock content %}




#Tests schreiben, prüfen wegen unique