{% load static %}
{% load crispy_forms_tags %}

<form method="post">
    {% csrf_token %}
    <div class="form-check form-switch">
        {{ form.deleted.label_tag|cut:":" }}
        {{ form.deleted }}
    </div>
    {{ form.asset_id|as_crispy_field }}
    {{ form.administration_group|as_crispy_field }}
    <div class="row">
        <div class="col-md-6">
            {{ form.appl_NAC_Hostname|as_crispy_field }}
        </div>
        <div class="col-md-6">
            {{ form.dns_domain|as_crispy_field }}
        </div>
    </div>
    {{ form.appl_NAC_DeviceRoleProd|as_crispy_field }}
    {% if form.vlan.value %}
        {{ form.vlan|as_crispy_field }}
    {% endif %}

    <div class="row">
        <div class="column">
            {{ form.appl_NAC_Active | as_crispy_field }}
            <ul class="list-unstyled" style="padding-left: 2em">
                <li>{{ form.appl_NAC_AllowAccessVPN | as_crispy_field }}</li>
                <li>{{ form.appl_NAC_AllowAccessCEL | as_crispy_field }}</li>
            </ul>
        </div>
        <div class="column">
            {{ form.allowLdapSync | as_crispy_field }}
            {{ form.appl_NAC_ForceDot1X | as_crispy_field }}
            {{ form.appl_NAC_Install | as_crispy_field }}
        </div>
    </div>
    <br>
    {{ form.appl_NAC_AllowAccessCAB | as_crispy_field }}
    {{ form.appl_NAC_macAddressCAB | as_crispy_field }}
    <br>
    {{ form.appl_NAC_AllowAccessAIR | as_crispy_field }}
    {{ form.appl_NAC_macAddressAIR | as_crispy_field }}
    {{ form.additional_info | as_crispy_field }}
    {{ form.source | as_crispy_field }}
    <button type="submit" class="btn btn-secondary btn-sm">Save</button>
</form>

<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function() {
    // Bind on continent field change
    $(':input[name$=administration_group]').on('change', function() {
        // Get the field prefix, ie. if this comes from a formset form
        var prefix = $(this).getFormPrefix();

        // Clear the autocomplete with the same prefix
        $(':input[name=' + prefix + 'appl_NAC_DeviceRoleProd]').val(null).trigger('change');
    });
});
</script>

<style>
    .row {
        display: flex;
    }

    .column {
      flex: 50%;
    }
</style>

{{ form.media }}
