{% extends "base.html" %}

{% block content %}
{% load verbose_name %}
</br>
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    <h4>{{ device | verbose_name:"asset_id" }}</h4>
                </th>
                <th>
                    <h4>{{ device.asset_id }}</h4>
                </th>
            </tr>
        </thead>
        <p>
            <tr>
                <td>
                    <strong>{{ device | verbose_name:"appl_NAC_Hostname" }}</strong>
                </td>
                <td>
                    {{ device.appl_NAC_Hostname }}
                </td>
            </tr>
            <tr>
                <td>
                    <strong>{{ device | verbose_name:"dns_domain" }}</strong>
                </td>
                <td>
                    {{ device.dns_domain }}
                </td>
            </tr>
        </p>
        <tr>
            <td>
                <strong>FQDN</strong>
            </td>
            <td>
                {{ device.appl_NAC_FQDN }}
            </td>
        </tr>
        <tr>
            <td>
                <strong>{{ device | verbose_name:"administration_group" }}</strong>
            </td>
            <td>
                {{ device.administration_group }}
            </td>
        </tr>
        <tr>
            <td>
                <strong> {{ device | verbose_name:"vlan"}}</strong>
            </td>
            <td>
                {{ device.vlan }}
            </td>
        </tr>
        <tr>
            <td>
                <strong>{{ device | verbose_name:"appl_NAC_Active" }}</strong>
            </td>
            <td>
                {{ device.appl_NAC_Active }}
            </td>
        </tr>
        <tr>
            <td>
                <strong>{{ device | verbose_name:"appl_NAC_ForceDot1X" }}</strong>
            </td>
            <td>
                {{ device.appl_NAC_ForceDot1X }}
            </td>
        </tr>
        <tr>
            <td>
                <strong>{{ device | verbose_name:"appl_NAC_Install" }}</strong>
            </td>
            <td>
                {{ device.appl_NAC_Install }}
            </td>
        </tr>
        <tr>
            <td>
                <strong>{{ device | verbose_name:"appl_NAC_AllowAccessCAB" }}</strong>
            </td>
            <td>
                {{ device.appl_NAC_AllowAccessCAB }}
            </td>
        </tr>
        <tr>
            <td>
                <strong>{{ device | verbose_name:"appl_NAC_AllowAccessAIR" }}</strong>
            </td>
            <td>
                {{ device.appl_NAC_AllowAccessAIR }}
            </td>
        </tr>
        <tr>
            <td>
                <strong>{{ device | verbose_name:"appl_NAC_AllowAccessVPN" }}</strong>
            </td>
            <td>
                {{ device.appl_NAC_AllowAccessVPN }}
            </td>
        </tr>
        <tr>
            <td>
                <strong>{{ device | verbose_name:"appl_NAC_AllowAccessCEL" }}</strong>
            </td>
            <td>
                {{ device.appl_NAC_AllowAccessCEL }}
            </td>
        </tr>
        <tr>
            <td>
                <strong>{{ device | verbose_name:"appl_NAC_DeviceRoleProd" }}</strong>
            </td>
            <td>
                {{ device.appl_NAC_DeviceRoleProd }}
            </td>
        </tr>
        <tr>
            <td>
                <strong>{{ device | verbose_name:"appl_NAC_DeviceRoleInst" }}</strong>
            </td>
            <td>
                {{ device.appl_NAC_DeviceRoleInst }}
            </td>
        </tr>
        <tr>
            <td>
                <strong>{{ device | verbose_name:"appl_NAC_macAddressCAB" }}</strong>
            </td>
            <td>
                {% for mac in device.get_appl_NAC_macAddressCAB %}
                            {% if  mac != None%}
                                {{mac}} <br />
                            {% endif %}
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>
                <strong>{{ device | verbose_name:"appl_NAC_macAddressAIR" }}</strong>
            </td>
            <td>
                {% for mac in device.get_appl_NAC_macAddressAIR %}
                            {% if  mac != None%}
                                {{mac}} <br />
                            {% endif %}
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>
                <strong>{{ device | verbose_name:"additional_info" }}</strong>
            </td>
            <td>
                {{ device.additional_info }}
            </td>
        </tr>
         <tr>
            <td>
                <strong>{{ device | verbose_name:"source"}}</strong>
            </td>
            <td>
                {{ device.source }}
            </td>
        </tr>
    </table>
    <p><a href="{% url 'device_edit' device.pk %}">Edit</a> | <a href="{% url 'device_delete' device.pk %}">Delete</a></p>
    <p>Back to <a href="{% url 'devices' %}">All Devices</a></p>
</div>


{% endblock content %}