{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container">
	<h1>Filter</h1>
	<span class="icon-desc" desc="Reset filter"><a class="btn btn-secondary btn-sm" style="color: white;" href="{% url 'devices' %}">
		<img src="{% static 'icons/trash3.svg' %}" alt="Reset" height="16" width="16"/>
	</a></span>
	<form id="search_form" action="{% url 'devices' %}" method="get">
		<div class="row">
			<div class="col-auto">
				{{ search_form.search_string | as_crispy_field }}
				{{ search_form.appl_NAC_Active | as_crispy_field }}
				{{ search_form.appl_NAC_Install | as_crispy_field }}
			</div>
			<div class="col-auto">
				{{ search_form.device_role_prod | as_crispy_field }}
				{{ search_form.appl_NAC_AllowAccessCAB | as_crispy_field }}
				{{ search_form.appl_NAC_AllowAccessAIR | as_crispy_field }}
			</div>
			<div class="col-auto">
				{{ search_form.administration_group | as_crispy_field }}
				{{ search_form.appl_NAC_AllowAccessVPN | as_crispy_field }}
				{{ search_form.appl_NAC_AllowAccessCEL | as_crispy_field }}
			</div>
			<div class="col-auto">
				{{ search_form.show_deleted | as_crispy_field }}
				{{ search_form.allowLdapSync | as_crispy_field }}
			</div>
		</div>


		<h1>Devices</h1>
		<div style="display: flex; justify-content: space-between;">
		<span class="icon-desc" desc="Refresh results"><button type="submit" class="btn btn-secondary btn-sm">
			<img src="{% static 'icons/arrow-clockwise.svg' %}" alt="Refresh" height="18" width="18"/>
		</button></span>
		<button type="submit" class="btn btn-secondary btn-sm" formaction="{% url 'device_export_csv' %}?export=csv">Export as CSV</button>
		</div>
		<div id="results">
			{% include "devices_results.html" %}
		</div>

	</form>
</div>

<script type="text/javascript" src="{% static 'device_filtering.js' %}"></script>

<style>
    .row {
        display: flex;
    }

    .column {
      flex: 50%;
    }
</style>

{% endblock content %}