{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
	<h1>Devices</h1>
	<form action="{% url 'devices' %}" method="get">
		<input name="q" type="text" placeholder="Search device...">
	</form>
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">Name</th>
				<th scope="col">FQDN</th>
				<th scope="col">DeviceRoleProd</th>
				<th scope="col">MAC</th>
				<th scope="col" width="60"></th>
			</tr>
		</thead>
	{% for device in device_list %}
		<tr>
			<td>
				<a href="{% url 'device_detail' device.pk %}">{{ device.name }}</a>
			</td>
			<td>
				{{ device.appl_NAC_FQDN }}
			</td>
			<td>
				{{ device.appl_NAC_DeviceRoleProd }}
			</td>
			<td>
				{% for mac in device.get_appl_NAC_macAddressAIR %}
					<b> 
						{% if mac != None %}
							<img src="{% static 'icons/wifi.svg' %}" alt="appl_NAC_macAddressAIR" height="14" width="14">
							<b> {{mac}}</b> <br />
						{% endif %}
					</b>
				{% endfor %}
				{% for mac in device.get_appl_NAC_macAddressCAB %}
					<b> 
						{% if mac != None %}
							<img src="{% static 'icons/ethernet.svg' %}" alt="appl_NAC_macAddressCAB" height="14" width="14">
							<b> {{mac}}</b> <br />
						{% endif %}
					</b>
				{% endfor %}
			</td>
			<td>
				<a href="{% url 'device_edit' device.pk %}">
					<img src="{% static 'icons/pencil-square.svg' %}" alt="edit" height="16" width="16">
				</a>
				<a href="{% url 'device_delete' device.pk %}">
					<img src="{% static 'icons/trash.svg' %}" alt="delete" height="16" width="16">
				</a>
			</td>
		</tr>
	{% endfor %}
	</table>
</div>
{% endblock content %}
