{% extends "base.html" %}

{% load static %}

{% block content %}
<h1>New device</h1>
<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
</form>
{% endblock content %}

{% block footer %}
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function() {
    // Bind on continent field change
    $(':input[name$=area]').on('change', function() {
        // Get the field prefix, ie. if this comes from a formset form
        var prefix = $(this).getFormPrefix();

        // Clear the autocomplete with the same prefix
        $(':input[name=' + prefix + 'security_group]').val(null).trigger('change');
    });
});
</script>
{{ form.media }}

{% endblock footer %}